In [1]:
import pandas as pd
data = pd.read_csv('/content/dataset2.csv')

nan_df = data[data.isnull().any(axis=1)]
display(nan_df.head())


data = data.dropna(how='all')
data.head(70)

Empty DataFrame
Columns: [Manufacturer, Model, Sales_in_thousands, Vehicle_type, Price_in_thousands, Engine_size, Horsepower, Wheelbase, Width, Length, Curb_weight, Fuel_capacity, Fuel_efficiency, Latest_Launch]
Index: []

,Manufacturer,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch
0,Acura,Integra,17,Passenger,21.500,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2/2/2012
1,Acura,TL,39,Passenger,28.400,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6/3/2011
2,Audi,A8,1,Passenger,62.000,4.2,310,113.0,74.0,198.2,3.902,23.7,21,2/27/2012
3,BMW,323i,20,Passenger,26.990,2.5,170,107.3,68.4,176.0,3.179,16.6,26,6/28/2011
4,Buick,LeSabre,83,Passenger,27.885,3.8,205,112.2,73.5,200.0,3.591,17.5,25,7/23/2011
5,Cadillac,DeVille,64,Passenger,39.895,4.6,275,115.3,74.5,207.2,3.978,18.5,22,2/23/2012
6,Chevrolet,Cavalier,146,Passenger,13.260,2.2,115,104.1,67.9,180.9,2.676,14.3,27,8/17/2011
7,Chevrolet,Malibu,135,Passenger,16.535,3.1,170,107.0,69.4,190.4,3.051,15.0,25,3/19/2012
8,Chevrolet,Metro,22,Passenger,9.235,1.0,55,93.1,62.6,149.4,1.895,10.3,45,4/13/2012
9,Chevrolet,Impala,108,Passenger,18.890,3.4,180,110.5,73.0,200.0,3.389,17.0,27,6/18/2011
10,Chrysler,Sebring Coupe,8,Passenger,19.840,2.5,163,103.7,69.7,190.9,2.967,15.9,24,1/16/2012
11,Chrysler,LHS,13,Passenger,28.340,3.5,253,113.0,74.4,207.7,3.564,17.0,23,5/8/2012
12,Chrysler,300M,31,Passenger,29.185,3.5,253,113.0,74.4,197.8,3.567,17.0,23,2/10/2012
13,Dodge,Neon,76,Passenger,12.640,2.0,132,105.0,74.4,174.4,2.567,12.5,29,12/12/2011
14,Dodge,Ram Van,31,Car,18.575,3.9,175,127.2,78.8,208.5,4.298,32.0,16,7/26/2012
15,Dodge,Dakota,111,Car,16.980,2.5,120,131.0,71.5,215.0,3.557,22.0,19,11/25/2011
16,Dodge,Durango,101,Car,26.310,5.2,230,115.7,71.7,193.5,4.394,25.0,17,6/27/2012
17,Dodge,Caravan,182,Car,19.565,2.4,150,113.3,76.8,186.3,3.533,20.0,24,9/1/2011
18,Ford,Escort,70,Passenger,12.070,2.0,110,98.4,67.0,174.7,2.468,12.7,30,3/31/2012
19,Ford,Mustang,113,Passenger,21.560,3.8,190,101.3,73.1,183.2,3.203,15.7,24,1/31/2012
20,Ford,Contour,35,Passenger,17.035,2.5,170,106.5,69.1,184.6,2.769,15.0,25,8/20/2012
21,Ford,Taurus,246,Passenger,17.885,3.0,155,108.5,73.0,197.6,3.368,16.0,24,12/20/2011
22,Ford,Ranger,221,Car,12.050,2.5,119,117.5,69.4,200.7,3.086,20.0,23,1/14/2012
23,Ford,F-Series,541,Car,26.935,4.6,220,138.5,79.1,224.5,4.241,25.1,18,8/16/2012
24,Honda,Civic,200,Passenger,12.885,1.6,106,103.2,67.1,175.1,2.339,11.9,32,10/21/2011
25,Honda,Accord,231,Passenger,15.350,2.3,135,106.9,70.3,188.8,2.932,17.1,27,5/20/2012
26,Honda,CR-V,73,Car,20.550,2.0,146,103.2,68.9,177.6,3.219,15.3,24,3/21/2012
27,Honda,Passport,13,Car,26.600,3.2,205,106.4,70.4,178.2,3.857,21.1,19,10/9/2012
28,Honda,Odyssey,76,Car,26.000,3.5,210,118.1,75.6,201.2,4.288,20.0,23,2/8/2012

https://drive.google.com/drive/folders/1ODD4zyY44nPvJb1TRBhqKPSOHW6Pi3wo?usp=drive_link

https://drive.google.com/drive/folders/1S5JNXa6IhfBHmOU8x_t6pdSmIJUGRLoq?usp=sharing

https://stackoverflow.com/questions/27298178/concatenate-strings-from-several-rows-using-pandas-groupby

https://jamboard.google.com/d/1cbkX9I1cjCyd7LY25USZwWKlyVBu_tyRJGLiOlV_Onw/edit?usp=meet_whiteboard